<meta http-equiv="refresh" content="30">
<div id='clockpanel'>
  <% cache :clocked_in do %>
    <div id='clocked_in_users'>
      <h3>Clocked in</h3>
      <ul>
      <% @clocked_in_users.each do |u| %>
        <%= render :partial => 'user_clock_listing', :locals => {:user => u} %>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div id='clocked_out_users'>
    <h3>Clocked out</h3>
    <ul>
    <% @clocked_out_users.each do |u| %>
        <%= render :partial => 'user_clock_listing', :locals => {:user => u}%>
    <% end %>
  </ul>
  </div>
</div>

<div class="feed laconica">
  <h3>Recently on Laconica...</h3>
  
  <ul>
    <% @feed.entries.each do |entry| %>
      <li><div class='link_author'><%= entry.author %></div><div class='link_title'><%= link_to h(entry.title), entry.link %> </div> </li>
    <% end %>
  </ul>
</div>
