<meta http-equiv="refresh" content="30">
<div id='clockpanel'>
  <% cache :clocked_in do %>
    <div id='clocked_in_users'>
      <h3>Clocked in</h3>
      <ul>
      <% @clocked_in_users.each do |u| %>
        <li><p class='name'><%= link_to  u.name, user_path(u) %></p><p class='clocktime'><%= u.last_clock.localtime.strftime("%x %X") %></p></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div id='clocked_out_users'>
    <h3>Clocked out</h3>
    <ul>
    <% @clocked_out_users.each do |u| %>
      <% cache [:clocked_out, u.work_periods.last] do %>
        <li><p class='name'><%= link_to  u.name, user_path(u) %></p><p class='clocktime'><%= u.last_clock.localtime.strftime("%x %X") %></p></li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
