[submodule "vendor/plugins/active_scaffold"]
	path = vendor/plugins/active_scaffold
	url = ssh://git@github.com/karmajunkie/active_scaffold.git
[submodule "vendor/plugins/seed-fu"]
	path = vendor/plugins/seed-fu
	url = git://github.com/mbleigh/seed-fu.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/thoughtbot-clearance"]
	path = vendor/plugins/thoughtbot-clearance
	url = http://github.com/thoughtbot/clearance.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/aslakhellesoy/cucumber.git
