<h3>Open Leave Requests</h3>

<div id='open_leave_requests'>
<ul>
 <% for request in @open_leave_requests %>
     <li><div class='requester'><%= request.employee.name %></div>
      <div class='request'>
        <ul>
          <% for period in request.leave_periods %>
              <li>From <%= period.from_date.strftime("%x") %>
                    To <%= period.until_date.strftime("%x") %></li>
          <% end %>
        </ul>
      </div>
      </li>
      
      
 <% end %>
     </ul>
</div>