body {

}

div {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 10px;
}

#header a, #header a:visited {
    color:#cccccc;
}

#header .logo {
    width: 600px;
    float: left;
    border: 0px;
}

#header .title {
    font-size: 36px;
    padding: 5px;
    height: 75px;
    vertical-align: bottom;
}

#menu ul {
    margin: 0px;
    padding: 0px;
}

#menu li {
    list-style: none none inside;
    display: inline;
    padding-left: 15px;
}

.relative_container {
    position: relative;
}

#content {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    position: relative;

}

div.location_form p {
    margin: 5px;
}

div.form label {
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    margin: 0 5px;
}

div.child_form {
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

div.cal {
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 730px;
    margin-left: 10px;
}

table#ts_calendar {
}

th.workweek {
    background-color: #cc9966;
}

th.weekend {
    background-color: #6699cc;
    color: white;
}

td.ts_calendar {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: center;
}

div.cal_hrs {
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 10px;
}

div.cal_container {
    position: relative;
    border: 1px solid black;
    height: 100px;
}

.short_hrs {
    border-color: red;
    background-color: #ff2929;
}

.overtime {
    border-color: green;
    background-color: #94ff29;
}

div.cal_day {
    background-color: white;
    -moz-border-radius: 10px 0 0 0px;
    -webkit-border-radius: 10px 0 0 0px;
    border-radius: 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}

div#info {
    -moz-border-radius: 0 10px 10px 0px;
    -webkit-border-radius: 10px 0 0 0px;
    border-radius: 0px;
    width: 350px;
    height: 640px;
    border: 1px solid black;
    position: absolute;
    padding: 10px;
    top: 0px;
    left: 745px;
    font-size: 16px;
    font-weight: bold;
}

div.valueset {
    position: relative;
}

div#info label {
    left: 0px;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 300px;
}

div#info .value {
    position: absolute;
    right: 40px;
}

div.sources {
    margin-top: 25px;
}

div.sources table {
    border-collapse:collapse;

}

div.sources div.source {
    height: 55px;
    width: 75px;
    border: 2px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: white;
    background-color: #69c;
    font-size: 24px;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
}

div.sources td.label {
    padding-left: 40px;
    font-size: 20px;
}

div.cal_legend {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    padding: 10px;
}

div.cal_ha {
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    font-size: 8px;

}

div#calendar_content_container {
    position: relative;
    height: 660px;
}

div#clockpanel {
    position: relative;
    margin: 10px;
    width: 175px;

}

div#clockpanel h3 {
    line-height: 1.2em;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border: 1px solid black;

}

div#clockpanel p {
    margin: 0px;
}

div#clockpanel div {
    border: 1px solid black;
    border-top-width: 0;

}

#clocked_in_users h3 {
    background-color: #0a0;
    color: #fff;
}

#clocked_out_users h3 {
    background-color: #a00;
    color: #fff;
}

div#clockpanel .name {
    font-weight: bold
}

div#clockpanel .clocktime {
    font-size: .8em;
    padding-left: 20px;
}

div#clockpanel ul {
    margin: 5px;
    padding: 0px;
}

div#clockpanel li {
    list-style: none inside none;

    display: block;

}

div.feed ul {

    display: block;
    margin:0;
    padding:0;
}
div.feed h3{
    margin:0px;
    padding:5px;
    text-align:center;
    line-height:1em;
}

div.laconica {
    position: absolute;
    right: 10px;
    top: 10px;
}

div.feed li {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: block;
    width: 300px;
    border: 1px solid black;
    background-color: #fff;
    margin:0px 5px 5px 5px;

}

div.feed div.link_author {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;

    background-color: #6666dd;
    color: #fff;
}

div.feed div.link_title {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    font-size: 12px;

    color: #6666dd;
    background-color: #fff;
    padding: 10px 5px;
}
#leave_period_form_dlg  {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border:3px solid #666666;
    position:absolute;
    top:20px;
    left:100px;
    height:200px;
    width:375px;
    background-color: #cccccc;
    z-index:4;
    padding:15px;
    display:none;
}

#bank_hours_subform {
    position:absolute;
    display:none;
    top:10px;
    left:350px;
    width:300px;
    z-index:3;
}
#bank_hours_subform p{
    position:relative;
}
#bank_hours_subform label{
    display:block;
    width:150px;
    position:absolute;
    left:0px;
    top:0px;
}
#bank_hours_subform input{
    position:absolute;
    display:block;
    width:50px;
    top:0px;
    left:160px;
    
}
#accruals_display {
    position:absolute;
    left:375px;
    top:0;
    width:150px;
}
#accruals_display h4{
    margin:0;
    text-align:center;
    padding:0;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border: 1px solid black;
    border-bottom-width:0;
    width:150px;
}
#accruals_display ul{
    margin:0;
    padding:5px 0;
    border:1px solid black;
    width:150px;
}
#accruals_display li {
    list-style: none inside none;
    clear:both;
    padding:0 5px;
}
#accruals_display strong {
    float:right;
    margin-left:10px;
}
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(/images/datepicker/cal.gif) no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}

#leave_periods_list{
    margin:0px;
    padding:0px;
    position:relative;
    display:block;
    width:300px;
}
.leave_period_item {
    list-style: none inside none;
    border:1px solid black;
    padding:5px;
    margin-top:10px;
}

#open_leave_requests .requester {
    border-bottom:2px solid #999999;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    position:relative;
    width:400px;
}
#open_leave_requests h5 {
    margin:5px;
    padding:0;
}
#open_leave_requests .request{
    margin:10px 0 0 0;
    border: 2px solid black;
    padding:10px 20px;
    width:400px;
}
#open_leave_requests ul {
    padding:0;
    margin:5px;
}
#open_leave_requests li {
    list-style-type: circle;
    list-style-position: inside;
    list-style-image: none;
    position:relative;
    top:10px;
}
#open_leave_requests li div{
    margin:0 10px 0 0;
    position:relative;
    top:-17px;
    left:10px;
}
#open_leave_requests .approval_form{
    margin-top:20px;
}

#leave_type_display {
    position:absolute;
    left:375px;
    top:100px;
    width:150px;
}

#leave_type_display h4 {
    margin:0;
    padding:0;
    margin-top:5px;
}