<table>
  <tr>
    <td>Login</td>
    <td>Vacation hours</td>
    <td>Skeleton hours</td>
    <td>Sick hours</td>
  </tr>
  <tr>
    <td><%= @user.login %></td>
    <td><%= @user.vacation_hours %></td>
    <td><%= @user.skeleton_hours %></td>
    <td><%= @user.sick_hours %></td>
  </tr>
</table>

