<h1>Listing timesheets</h1>

<table>
  <tr>
  </tr>

<% @timesheets.each do |timesheet| %>
  <tr>
    <td><%= link_to 'Show', timesheet %></td>
    <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
    <td><%= link_to 'Destroy', timesheet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New timesheet', new_timesheet_path %>