<html>
<head>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "report", :media => "print,screen" %>
<title>TALHO Time Admin</title>
</head>
<body>
      <%= yield %>
</body>
</html>
